html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.blur {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  height: 100vh;
  width: 100%;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-title {
  margin: 0 auto;
  text-align: center;
  padding: 40px 0;
}

.container__todo-panel {
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 20px 25px;
  width: 50%;
  border-radius: 20px;
  background-color: white;
}
