/* advantages */
.advantages-title {
    margin-bottom: 30px;
}
.advantages-list {
    flex-wrap: wrap;
}

.advantages-item {
    box-sizing: border-box;
    width: 275px;
    height: 275px;
    padding: 40px 42px 41px 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    background: #FFFFFF;
    border-radius: 15px;
}

.advantages-item:not(:nth-child(4n+4)) {
    margin-right: 23px;
}

.advantages-item:not(:nth-last-child(-n+4)) {
    margin-bottom: 23px;
}

.advantages-item-img {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 64px 66px;
    padding-top: 75px;
}

.advantages-item-img-1 {
    background-image: url('../../img/bathtub.svg');
}

.advantages-item-img-2 {
    background-image: url('../../img/hanger.svg');
}

.advantages-item-img-3 {
    background-image: url('../../img/heating.svg');
}

.advantages-item-img-4 {
    background-image: url('../../img/hotel-key.svg');
}

.advantages-item-img-5 {
    background-image: url('../../img/parking.svg');
}

.advantages-item-img-6 {
    background-image: url('../../img/reception.svg');
}

.advantages-item-img-7 {
    background-image: url('../../img/security-box.svg');
}

.advantages-item-img-8 {
    background-image: url('../../img/swimming-pool.svg');
}

.advantages-item-text {
    margin: 0;
}
