*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: black;
}

:root {
    --transition: 1.75s cubic-bezier(.2, .6, 0, 1)
}

.slider {
    height: 100%;
}

.slider__layer {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    will-change: transform;
    transition: var(--transition)!important;
}

.slider__layer::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    box-shadow: inset 0 0 250px rgb(0 0 0 / .3); 
}

.slider__item {
    overflow: hidden;
}

.slider__wrapper {
    will-change: transform;
    transform-style: preserve-3d;
    transition: var(--transition);
    transition: var(--transition)!important;
}
