.placement-item {
    box-sizing: border-box;
    padding: 10px 15px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    background: #FFFFFF;
    /*border: 1px solid #CC9933;*/
    border-radius: 35px;
    box-shadow: 0 0 7px 0 #a47618;

}

