/* about us */
.about-us-title {
    margin-bottom: 11px;
}

.about-us-descr{
    width: 888px;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
}

/* сontscts */
.contacts-title {
    margin-bottom: 26px;
}

.contacts-address {
    margin-bottom: 45px;
}

.contacts-zone {
    box-sizing: border-box;
    width: 1168px;
    height: 618px;
    padding: 44px 44px 46px 46px;
    background:  #FFFFFF;
    border-radius: 15px;
}

.contacts-right {
    width: 100%;
    background-image: url('../../img/contacts.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.contacts-left {
    margin-right: 50px;
}

.contacts-list {
    flex-direction: column;
}

.contacts-item-title {
    margin: 0;
    width: 145px;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    color:  #000000;
}

.contacts-item {
    width: 375px;
    padding-top: 25px;
    padding-bottom: 22px;
    border-bottom: 1px solid #C4C4C4;
}

.contacts-item:first-child {
    padding-top: 0;
}

.contacts-item-descr {
    flex-direction: column;
    width: 230px;
}


.address-descr {
    margin: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    color:  #000000;
}

.link-descr {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    color: #999999;
}

.btn-contacts {
    padding: 30px;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
}