html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Regular"),
        url('../fonts/Montserrat-Regular.woff2') format("woff2"),
        url('../fonts/Montserrat-Regular.woff') format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Medium"),
        url('../fonts/Montserrat-Medium.woff2') format("woff2"),
        url('../fonts/Montserrat-Medium.woff') format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-SemiBold"),
        url('../fonts/Montserrat-SemiBold.woff2') format("woff2"),
        url('../fonts/Montserrat-SemiBold.woff') format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Bold"),
        url('../fonts/Montserrat-Bold.woff2') format("woff2"),
        url('../fonts/Montserrat-Bold.woff') format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    min-width: 320px;
    font-family: 'Montserrat', sans-serif;
    background: #F1F1F1;
}

.section {
    margin-bottom: 100px;
}

:root {
    --gap: 32px;
}

/* global */

.list-resert {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-resert {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn {
    text-align: center;
    color: #FFFFFF;
    background-color: #FF9900;
    transition: background-color .3s ease;
}

.btn:hover {
    background-color: #F7B045;
}

.btn:active {
    background-color: #E1670E;
}

.flex {
    display: flex;
}

.container {
    max-width: 1770px;
    margin: 0 75px;
}

.section-title {
    margin: 0;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    color: #333333;
}

.section-descr {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
}

.descr-title {
    margin: 0;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.is-asctive {
    color: #E1670E;
}

/* header */

.header {
    width: 100%;
    height: 100px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
    padding: 14px 0;
    align-items: center;
}

.burger {
    display: none;
}

.header__logo {
    margin-right: auto;
}

.nav__list__item {
    margin-right: 85px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.nav__list__link {
    transition: color .3s ease;
}

.nav__list__link:hover {
    color: #E1670E;
    text-decoration: 3px underline;
    text-underline-position: under;
}

.nav__list__link:active {
    color: #E1670E;
    outline: 3px solid #E1670E;
}

.header__search path {
    transition: stroke .3s ease;
}

.header__search:hover path {
    stroke: #E1670E;
}

.header__search rect {
    transition: fill .3s ease;
}

.header__search:hover rect {
    fill: #E1670E;
}


/* hero */

.section-hero__content {
    padding-left: 80px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    height: 100%;
    background-image: url('../img/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-hero__title {
    margin: 0;
    margin-bottom: 24px;
    width: 60%;
    font-weight: 800;
    font-size: 70px;
    line-height: 85px;
    color: #FFFFFF;
}

.section-hero__descr {
    margin: 0;
    margin-bottom: 90px;
    width: 50%;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.section-hero__btn {
    padding: 0;
    padding: 24px 40px;
    font-weight: bold;
    font-size: 23px;
    line-height: 29px;
}

/* about us */

.section-about-us__title {
    margin-bottom: 20px;
}

.section-about-us__descr {
    margin-bottom: 50px;
    max-width: 1235px;
}

.more_img {
    position: relative;
    display: inline-block;
    margin-right: 1.6%;
    width: 49%;
    height: 622px;
    background-image: url('../img/about-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.more__detailed {
    position: absolute;
    align-items: center;
    bottom: 0;
    height: 196px;
    width: 100%;
    padding: 50px;
    background: rgba(0, 0, 0, 0.5);
}

.more__detailed_320 {
    display: none;
}

.more__detailed__descr {
    margin: 0;
    margin-right: 14%;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
}

.more__detailed__btn {
    padding: 17px 35px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border: 3px solid #FF9900;
    transition: background-color .3s ease;
}

.more__detailed__btn:hover {
    background-color: #FF9900;
}

.more__detailed__btn:active {
    background-color: #E1670E;
}

.more__detailed__list {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.more__detailed__list__item {
    align-items: center;
    padding: 65px 60px;
    width: 100%;
    height: 295px;
    border: 1px solid #CACACA;
}

.more__detailed__list__item:not(:last-child) {
    margin-bottom: var(--gap);
}

.about-us-descr_add {
    margin: 0;
    width: 90%;
}

.img-about {
    margin-right: 49px;
}

.about-us-block {
    width: 100%;
}

.about-us-title_add {
    margin: 0;
    margin-bottom: 8px;
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

/* our work */

.section-our-work__title {
    margin-bottom: 48px;
}

.section-our-work__steps {
    margin-bottom: 45px;
}

.steps__item:not(:last-child):not(:last-child) {
    margin-right: 86px;
}

.steps__item-link {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    transform: color .3 ease;
}

.steps__item-link:hover {

    color: #E1670E;
}

.steps__descr {
    margin-right: 32px;
    width: 100%;
}

.section-our-work__descr {
    margin: 0;
    margin-bottom: 50px;
    width: 86%;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
}

.section-our-work__btn {
    padding: 19px 39px;
    margin-right: 30px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.contract-btn {
    padding: 19px 37px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #333333;
    outline: 1px solid #333333;
    transition-property: color, background-color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.contract-btn:hover {
    color: #FFFFFF;
    background-color: #666666;
}

.contract-btn:active {
    color: #FFFFFF;
    background-color: #000000;
}

.block-descr_img {
    width: 100%;
    background-image: url('../img/work1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* questions */

.section-questions__title {
    margin-bottom: 44px;
}

.slash {
    color: #CACACA;
}

.questions__list__item {
    margin: 0;
    padding: 30px 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #CACACA;
    border-top: 1px solid #CACACA;
}

.questions__list__item:hover {
    color: #FF9900;
    border-color: #FF9900;
    margin-top: -1px;
}

.questions__list__item:hover .more-question path {
    fill: #FFFFFF;
}

.questions__list__item:hover .more-question ellipse {
    fill: #FF9900;
}

.questions__list__item:first-child {
    border-top: 1px solid #CACACA;
}

.questions__list__item:first-child:hover {
    border-color: #FF9900;
}

.more-question {
    height: 50px;
    width: 50px;
    transition: fiil .3s ease;
}

.questions__list__item-text {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
}

/* footer */

.footer {
    display: block;
    width: 100%;
    background-color: #222222;
}

.footer__container {
    padding: 50px 0;
    align-items: center;
    justify-content: space-between;
}

.footer-menu {
    margin-right: 113px;
    width: 252px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-nav__list {
    flex-direction: column;
    margin-bottom: 90px;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #CACACA;
}

.footer-nav__list__link {
    transition: color .3s ease;
}

.footer-nav__list__link:hover {
    color: #FF9900;
}

.footer-nav__list__link:active {
    text-decoration: 3px underline;
    text-underline-position: under;
}

.links-list-item:not(:last-child) {
    margin-right: 25px;
}

.social-link {
    transition: fill .3s ease;
}

.social-link:hover path {
    fill: #FF9900;
}

.social-link:active path {
    fill: #E1670E;
}


.form-application {
    width: 570px;
    height: 494px;
}

.footer-form {
    flex-direction: column;
    width: 100%;
}

.footer-form-title {
    margin-bottom: 23px;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    color: #CACACA;
}

.input_theme {
    margin-bottom: 25px;
    padding: 14px 24px;
    width: 100%;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
    background-color: #414141;
    border: none;
}

.form-massage {
    margin-bottom: 33px;
    height: 150px;
}

.form-btn {
    margin-right: 20px;
    padding: 19px 52px;
    width: 269px;
}

.form-check {
    display: inline;
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}

.input-checkbox {
    margin-right: 4px;
}

.footer__descr {
    margin: 0;
    width: 363px;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}

@media (max-width: 1600px) {
    .more_img {
        margin: 0;
        width: 100%;
    }

    .more__detailed__list {
        width: 100%;
    }

    .more__detailed__list {
        margin-top: 28px;
    }

    .footer__descr {
        display: none;
    }

    .form-application {
        margin: 0;
    }

}

@media (max-width: 1240px) {
    .header__container {
        justify-content: space-between;
    }

    .header__logo {
        margin: 0;
    }

    .burger {
        position: relative;
        display: block;
        width: 30px;
        height: 50px;
        color: #333333;
    }

    .burger__line {
        position: absolute;
        left: 50%;
        width: 30px;
        height: 3px;
        border-radius: inherit;
        background-color: currentColor;
        transform: translateX(-50%);
    }

    .burger__line:nth-child(1) {
        top: 13px;
    }

    .burger__line:nth-child(3) {
        bottom: 13px;
    }

    .burger__line:nth-child(2) {
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .header__nav {
        display: none;
    }

    .more_img {
        height: 640px;
    }

    .section-about-us__title {
        margin-bottom: 11px;
    }

    .section-about-us__descr {
        margin-bottom: 62px;
    }

    .footer-menu {
        margin-right: 0;
    }

}

@media (max-width: 1024px) {
    .container {
        max-width: 924px;
        margin: 0 50px;
    }

    .header__container {
        padding: 26px 0;
    }

    .header__logo svg {
        width: 150px;
        height: 48px;
    }

    .section {
        margin-bottom: 80px;
    }

    .section-hero__content {
        padding: 160px 77px;
    }

    .section-hero__title {
        margin-bottom: 16px;
        width: 90%;
        font-size: 60px;
        line-height: 73px;
    }

    .section-hero__descr {
        margin-bottom: 60px;
        width: 90%;
        font-size: 20px;
        line-height: 24px;
    }

    .section-hero__btn {
        padding: 24px 40px;
        font-size: 23px;
        line-height: 29px;
    }

    .more__detailed__list__item {
        padding-left: 77px;
    }

    .about-us-block {
        width: 69%;
    }

    .section-our-work__steps {
        margin-bottom: 50px;
    }

    .steps__descr {
        margin-right: 50px;
    }

    .section-our-work__title {
        margin-bottom: 50px;
    }

    .section-our-work__descr {
        margin-bottom: 21px;
        width: 100%;
    }

    .contract-btn {
        margin-top: 5px;
    }

    .section-questions__title {
        margin-bottom: 33px;
    }

    .questions__list__item-text {
        font-size: 20px;
        width: 84%;
    }

    .footer-menu {
        width: 281px;
        margin-right: 16px;
    }

    .form-btn {
        padding: 19px 38px;
        width: 240px;
    }

}

@media (max-width: 768px) {
    .header {
        height: 69px;
    }

    .header__container {
        padding: 10px 0;
    }

    .section-hero__content {
        padding: 160px 40px;
    }

    .section-hero__title {
        margin-bottom: 16px;
        width: 100%;
        font-size: 50px;
        line-height: 61px;
    }

    .section-hero__descr {
        width: 100%;
        font-size: 18px;
        line-height: 22px;
    }

    .section-about-us__descr {
        margin-bottom: 60px;
    }

    .more_img {
        height: 650px;
    }

    .more__detailed {
        padding: 34px 40px;
    }

    .more__detailed__descr {
        margin-right: 8%;

    }

    .more__detailed__list__item {
        padding: 35px 0;
        padding-left: 40px;
        height: 235px;
    }

    .img-about {
        width: 114px;
        height: 99px;
        margin-right: 16px;
    }

    .about-us-block {
        width: 100%;
    }

    .steps__item:not(:last-child):not(:last-child) {
        margin-right: 23%;
    }

    .section-our-work__block {
        flex-direction: column-reverse;
    }

    .block-descr_img {
        height: 284px;
        margin-bottom: 40px;
    }

    .section-our-work__steps {
        margin-bottom: 50px;
    }

    .section-our-work__descr {
        margin-bottom: 19px;
        width: 100%;
    }

    .questions__list__item-text {
        width: 100%;
    }

    .footer-menu__nav {
        display: none;
    }

    .footer__container {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .form-application {
        padding-top: 0;
        padding-left: 0;
        margin-bottom: 51px;
    }

    .footer-form {
        width: 95%;
    }

    .footer-logo {
        margin-bottom: 9px;
    }

}

@media (max-width: 706px) {
    .section-hero__content {
        padding: 60px 22px;
    }

    .more__detailed {
        display: none;
    }

    .more__detailed_320 {
        display: block;
    }

    .more_img {
        height: 385px;
        margin-bottom: 8px;
    }

    .more__detailed__descr_320 {
        margin: 0;
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
    }

    .more__detailed__btn_320 {
        padding: 10px 41px;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #FF9900;
        border: 3px solid #FF9900;
        transition: background-color .3s ease;
    }

    .more__detailed__list__item {
        border: none;
        padding: 0;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
    }

    .about-us-descr_add {
        width: 100%;
    }

    .form-application {
       width: 100%;
    }

    .input_theme {
        font-size: 14px;
        line-height: 32px;
    }
    .form-check {
        display: block;
    }

    .section-title {
        font-size: 24px;
        line-height: 29px;
    }

    .questions__list__item-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
    }

}

@media (max-width: 480px) {

    .header__logo svg {
        width: 110px;
        height: 35px;
    }

    .section {
        margin-bottom: 60px;
    }

    .section-descr {
        font-size: 14px;
        line-height: 28px;
    }

    .section-hero__title {
        margin-bottom: 6px;
        font-size: 20px;
        line-height: 24px;
    }

    .section-hero__descr {
        margin-bottom: 33px;
        width: 100%;
        font-size: 12px;
        line-height: 15px;
    }

    .section-hero__btn {
        padding: 13px 28px;
        font-size: 12px;
        line-height: 15px;
    }

    .steps__item:not(:last-child):not(:last-child) {
        margin-right: 20%;
    }

}

@media (max-width: 320px) {
    .container {
        max-width: 290px;
        margin: 0 15px;
    }

    .section-hero__title {
        text-align: center;
    }

    .section-hero__descr {
        text-align: center;
    }

    .section-hero__btn {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .section-about-us__title {
        margin-bottom: 20px;
    }

    .section-about-us__descr {
        margin-bottom: 14px;
    }

    .more_img {
        height: 200px;
        margin-bottom: 4px;
    }

    .img-about {
        width: 64px;
        height: 49px;
        margin: 0;
        margin-bottom: 16px;
    }

    .about-us-title_add {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 5px;
    }

    .more__detailed__list__item:not(:last-child) {
        margin-bottom: 27px;
    }

    .block-descr_img {
        height: 160px;
    }

    .steps__item-link {
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
    }

    .steps__descr {
        margin: 0;
    }

    .steps__item:not(:last-child):not(:last-child) {
        margin-right: 44px;
    }

    .section-our-work__title {
        margin-bottom: 20px;
    }

    .section-our-work__steps {
        margin-bottom: 14px;
    }

    .descr-title {
        font-size: 18px;
        line-height: 32px;
    }

    .block-descr_img {
        margin-bottom: 16px;
    }

    .section-our-work__descr {
        margin-bottom: 11px;
        width: 102%;
    }

    .section-our-work__btn {
        padding: 12px 44px;
        margin-right: 8px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
    }

    .contract-btn {
        padding: 12px 31px;
        font-size: 12px;
        line-height: 15px;
    }

    .more-question {
        height: 30px;
        width: 30px;
    }

    .more-question svg {
        height: 30px;
        width: 30px;
    }

    .questions__list__item-text {
        width: 85%;
    }

    .section-questions__title {
        margin-bottom: 17px;
    }

    .footer__container {
        padding: 32px 0;
    }

    .form-application {
        width: 290px;
        height: 320px;
        margin-bottom: 172px;
    }

    .footer-form {
        width: 100%;
    }


    .footer-form-title {
        margin-bottom: 21px;
    }

    .input_theme {
        width: 100%;
        font-size: 14px;
        line-height: 32px;
    }

    .form-massage {
        margin-bottom: 24px;
        height: 150px;
    }

    .form-btn {
        display: block;
        padding: 12px 28px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        width: 180px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 12px;
    }

    .form-check {
        font-size: 16px;
        line-height: 32px;
        display: block;
        text-align: center;
    }

    .footer-menu {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }

    .footer-menu::before {
        content: "";
        position: absolute;
        top: 0;
        left: 1px;
        width: 100%;
        height: 2px;
        background-color: #595959;
    }

    .footer-logo {
        margin-top: 17px;
        margin-bottom: 13px;
        margin-left: auto;

        margin-right: auto;
    }

    .footer-logo svg {
        width: 131px;
        height: 42px;
    }

    .social-link svg {
        width: 40px;
        height: 40px;
    }

    .links-list {
        justify-content: center;
    }

    .links-list-item:not(:last-child) {
        margin-right: 16px;
    }

}