* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;

}
/* glob */
.list-resert {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-resert {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  padding: 20px 0;
  margin-bottom: 9px;
  outline: none;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #d981b5;
  color: white;
  border-radius: 30px;
  transition: background-color .3s ease;
}

.btn:hover {
  background-color: #c75298;
}
