<header class="header" >
  <div class="container flex header-container">

    <a routerLink="" class="header-logo"> NOTE</a>

    <nav class="header-nav">
      <ul class="header-list list-resert flex">
        <li class="header-list-item"><a routerLink="notes" class="header-link">Заметки</a></li>
        <li class="header-list-item"><a routerLink="/reminders"  class="header-link">Напоминания</a></li>
        <li class="header-list-item"><a routerLink="/tags"  class="header-link"> Теги</a></li>
      </ul>
    </nav>
  </div>
</header>

<div>
  <router-outlet></router-outlet>
</div>
