.header-container {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header-list {
  flex-direction: row;

}

.header-logo {
  color: rgb(117, 117, 117);
  font-size: 28px;
}

.header-list-item {
  margin-right: 20px;
}

.header-link {
  font-size: 20px;

}

.header-link:hover {
  color: #9a38f5 ;
  text-decoration: underline;
}
