/* footer */
.footer-container {
    box-sizing: border-box;
    position: relative;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0 52px;
    width: 1168px;
    height: 341px;
    background: #333333;
    border-radius: 15px;
}

.footer-left {
    flex-direction: column;
    width: 320px;
}

.footer-right {
    flex-direction: column;
    flex-grow: 0.5;
    width: 358px;
    padding-top: 51px;
}

.footer-descr {
    margin: 0;
    margin-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;

    color: #FFFFFF;
}
.footer-descr:first-child {

    margin-top: 44px;
}

.user-agreement {
    margin-top: 48px;
}

.footer-address-location {
    margin: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    color:#FFFFFF;
}

.footer-phone {
    flex-direction: column;
    margin-top: 14px;
}

.footer-mail {
    flex-direction: column;
    margin-top: 15px;
}

.social-list {
    flex-direction: column;
    margin-top: 51px;
}

.social-link {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.social-list-item:not(:last-child) {
    margin-bottom: 20px;
}

.social-link:hover path {
    fill: #CC9933;
}

.footer-img {
    position: absolute;
    left: 738px;
    top: 113px;
    bottom: 2px;
    width: 254px;
    height: 228px;
    background-image: url('/src/img/footer-sun.svg');
    background-size: 254px 228px;
    background-repeat: no-repeat;
}
