/* special-offer */
.special-offer-title {
    margin-bottom: 20px;
}

.special-offer-card-title{
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
}

.special-offer-card-title-2 {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
}

.special-offer-price {
    margin: 0;
    margin-bottom: 47px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.8;
}

.special-offer-price-2 {
    margin: 0;
    margin-bottom: 47px;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.8;
}

.special-offer-card {
    margin: 0 auto;
    justify-content: space-between;
    vertical-align: top;
}

.special-offer-card-img {
    width: 573px;
}

.card {
    box-sizing: border-box;

    flex-direction: column;
    justify-content: flex-end;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 234px;
    width: 100%;
    min-height: 258px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
}

.card-1 {
    margin-bottom: 23px;
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../../img/maldive.jpg');
}

.card-2 {
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../../img/crete.jpg');
}

.card-3 {
    height: 100%;
    background-image: url('../../img/luxe.jpg');
}

.learn-more {
    align-self: flex-start;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFCC66;

    background-image: url('../../img/learn-more.svg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    padding-right: 24px;

    transition: all 1s ease-in-out;
}

.learn-more:hover {
    text-decoration: underline;
}

.special-offer-descr{
    width: 888px;
    margin: 0;
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    color: #000000;
}
