.section {
  padding-top: 80px;
  height: 100vh;
  background-image: url('https://images01.nicepage.com/c461c07a441a5d220e8feb1a/9472b9f7c1c25bb0bb717728/weeee-min.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 48px;
  color: #9a38f5;
}

.home-description {
  text-align: center;

}

