/* header */
.header {
    padding-top: 20px;

}

.header-left,
.header-right {
    align-items: center;
}

.header-container {
    align-items: center;
    justify-content: space-between;
}

.header-up,
.header-down {
    justify-content: space-between;
}

.header-down {
    height: 70px;
    padding: 27px 45px;
    background: #FFFFFF;
    border-radius: 15px;
}

.header-up {
    height: 54px;
    margin-bottom: 30px;
}
.header-logo {
    margin-right: 40px;
}

.header-account {
    padding-top: 5px;
    padding-bottom: 3px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
    background-image: url('../../img/arrow-account.svg');
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: left center;
    padding-left: 29px;
    transition: color .3s ease;
}

.header-account:hover{
    color: #A47312;
}

.header-contact-link {
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    line-height: 20px;
    color: #666666;
    transition: color .3s ease;
}

.header-contact-link:hover {
    color: #CC9933;
}

.header-list-item:not(:last-child) {
    margin-right: 45px;
}

.header-link {
    transition: color .3s ease;
}

.header-link:hover {
    color: #CC9933;
}

.header-btn:not(:last-child) {
    margin-right: 40px;
}

.header-btn-position {
    padding-left: 57px;
    border-left: 1px solid #E1E1E1;
}