.todo_panel {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 20px 25px;
    width: 50%;
    border-radius: 20px;
    background-color: white;
}

.panel_input {
    padding: 5px 10px;
    width: 60%;
    border-radius: 20px;
}
