.container__todo_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 20px 25px;
    width: 50%;
    border-radius: 20px;
    background-color: white;
}

.item_text {
    font-size: 18px;
}

input[type=checkbox] {
    margin-right: 5px;
}
