.form-review {
    padding: 30px 0;
    display: flex;
align-items: flex-start
}

.textarea-review {
    height: 100px;
    width: 300px;
    border-radius: 10px;
    margin-right: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
}

.review-zone {
    padding: 20px 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color:#FFFFFF;

}

.review-descr{
    margin-right: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    color: #000000;
}

.delReview {
    height: 35px;
    cursor: pointer;
    font-weight: 600;

}

.delReview:hover {
color: red;
}