html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Regular"),
    url('../fonts/OpenSans-Regular.woff2') format("woff2"),
    url('../fonts/OpenSans-Regular.woff') format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Light'),
    url('../fonts/OpenSans-Light.woff2') format("woff2"),
    url('../fonts/OpenSans-Light.woff') format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-SemiBold'),
    url('../fonts/OpenSans-SemiBold.woff2') format("woff2"),
    url('../fonts/OpenSans-SemiBold.woff') format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
}

:root {
  --gap: 30px;
}

/* glob */
.list-resert {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-resert {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  color: #1c1c1c;
}

.section-descr {
  margin: 0;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 22px;
  color: #787878;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
}

.btn {
  position: relative;
  outline: none;
  padding: 15px 35px;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #3172B9;
  color: white;
  border-radius: 3px;
  transition: background-color .3s ease;
}

.btn::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  border-radius: inherit;
  border: 1px solid #71A7E2;
  outline: none;
  opacity: 0;
}

.btn:focus::after {
  opacity: 1;
}

.btn:hover {
  background-color: #71A7E2;
}

.btn:active {
  background-color: #0E3B6C;
}

.btn.btn:active::after {
  opacity: 0;
}

/* header */
.header {
  padding: 36px 0;
  border-bottom: 1px solid #C4C4C4;
  background-color: white;
  font-size: 15px;
}

.header-link {
  position: relative;
  font-size: 15px;
  font-weight: 600;
  color: #1C1C1C;
  transition: color .3s ease;
}

.header-link:focus {
  outline-offset: 2px;
  outline: 1px solid #71A7E2;
}

.header-link:hover {
  color: #71A7E2;
  outline: none;
}

.header-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3474BA;
  opacity: 0;
}

.header-link:active {
  color: #3474BA;
}

.header-link:active::after {
  opacity: 1;
}

.header-container {
  align-items: center;
}

.header-logo {
  margin-right: auto;
}

.header-nav {
  margin-right: 52px;
}

.header-list-item:not(:last-child) {
  margin-right: 52px;
}

.burger {
  display: none;
}

/* hero */
.section-hero {
  padding-top: 100px;
  padding-bottom: 150px;
  background-image: url('../img/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section-hero__content {
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
}

.section-hero__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 40px;
  line-height: 130%;
}

.section-hero__descr {
  margin: 0;
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  color: #787878;
}

.section-hero__btn {
  margin-bottom: 14px;
  min-width: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 14px;
}

.section-hero__wrapper {
  flex-direction: column;
  align-items: center;
}

.section-hero__secure {
  padding-left: 25px;
  background-image: url('../img/ssl.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 14px 17spx;
  font-size: 11px;
  line-height: 155%;
  color: #787878;
  text-transform: uppercase;
  ;
}

/* services */
.services {
  border-bottom: 1px solid #dadada;
}
.services-title {
  text-align: center;
}

.services-descr {
  text-align: center;
}

.services-item {
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  width: calc((100% - (var(--gap) * 3)) / 4);
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  transition-property: background-color, color;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.services-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.services-item:hover {
  cursor: pointer;
  background-color: #3172B9;
  color: white;
}

.services-item:hover .services-item-descr{
  color: white;
}

.services-item:hover .services-item-icon path{
  fill: white;
}

.services-item-icon path {
  transition: fill .3s ease;
}

.services-item-icon {
  margin-bottom: 25px;
}

.services-item-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
}

.services-item-descr {
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
  transition: color .3s ease;
}

/* articles */
.articles {
  border-bottom: 1px solid #dadada;
}
.articles-list {
  flex-wrap: wrap;
}

.articles-item {
  margin-bottom: 30px;
  width: calc((100% - (var(--gap) * 1)) / 2);
}

.articles-item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.blog-preview {
  overflow: hidden;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
}

.blog-preview-link {
  display: flex;
  position: relative;
  width: 100%;
}

.blog-preview-link:focus {
  background-color: #71A7E2;
}

.blog-preview-link:focus .blog-preview-time {
  color: #FFFFFF;
}

.blog-preview-link:focus .blog-preview-title {
  color: #FFFFFF;
}

.blog-preview-link:focus .blog-preview-descr {
  color: #FFFFFF;
}

.blog-preview-link:hover {
  background-color: #3172B9;
}

.blog-preview-link:hover .blog-preview-time {
  color: #FFFFFF;
}

.blog-preview-link:hover .blog-preview-title {
  color: #FFFFFF;
}

.blog-preview-link:hover .blog-preview-descr {
  color: #FFFFFF;
}

.blog-preview-link:active {
  background-color: #0E3B6C;
}

.blog-preview-link:active .blog-preview-time {
  color: #FFFFFF;
}

.blog-preview-link:active .blog-preview-title {
  color: #FFFFFF;
}

.blog-preview-link:active .blog-preview-descr {
  color: #FFFFFF;
}

.blog-preview-image {
  object-fit: cover;
}

.blog-preview-text {
  padding: 30px;
}

.blog-preview-time {
  display: block;
  margin-bottom: 5px;
  font-size: 10px;
  line-height: 150%;
  color: #787878;
}

.blog-preview-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 130%;
  color: #1c1c1c;
}

.blog-preview-descr {
  margin: 0;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
  max-width: 210px;
}

/* clients */
.clients {
  border-bottom: 1px solid #dadada;
}

.clients-item {
  flex-direction: column;
  width: calc((100% - (var(--gap) * 2)) / 3);
  padding: 50px 36px;
  padding-bottom: 30px;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
}

.clients-item:not(:nth-child(3n)) {
  margin-right: var(--gap);
}

.clients-item-text {
  margin: 0;
  margin-bottom: 30px;
}

.clients-item-descr {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.clients-user {
  margin-top: auto;
  align-items: center;
  border-top: 1px solid #dadada;
  width: 100%;
  padding-top: 28px;
}

.clients-avatar {
  flex-shrink: 0;
  width: 67px;
  margin-right: 17px;

}

.clients-avatar-img {
  width: 100%;
  height: 100%;
  /* border: 1px solid #3172B9;
  border-radius: 100%; */
}

.clients-name {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
  color: #1c1c1c;
}

.clients-post {
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

/* contact */
.contacts {
  border-bottom: 1px solid #dadada;
}

.contacts-address {
  font-style: normal;
}

.contacts-item {
  flex-direction: column;
  width: calc((100% - (var(--gap) *2)) / 4);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 29px 29px;
  padding-top: 48px;
}

.contacts-item-location {
  background-image: url('../img/location.svg');
}

.contacts-item-call {
  background-image: url('../img/call.svg');
}

.contacts-item-mail {
  background-image: url('../img/mail.svg');
}

.contacts-item:not(:nth-child(3n)) {
  margin-right: var(--gap);
}

.contacts-item-caption {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 17px;
  color: #1c1c1c;
}

.contacts-item-text {
  margin: 0;
  max-width: 215px;
  font-size: 14px;
  line-height: 180%;
  color: #787878;

}

.contacts-item-link {
  font-size: 14px;
  line-height: 180%;
  width: 45%;
  color: #787878;
}

.contacts-item-link:focus {
  outline: 1px solid #71A7E2;
}

.contacts-item-link:hover {
  color: #71A7E2;
}

.contacts-item-link:active {
  outline: none;
  color: #0E3B6C;
}

/* join us */
.join-us {
  border-bottom: 1px solid #C4C4C4;
}
.join-us-title {
  text-align: center;
}

.join-us-descr {
  text-align: center;
  margin-bottom: 30px;
}

.form {
  padding-left: 55px;
  padding-right: 55px;
}

.form-input {
  width: 251px;
  height: 60px;
  padding: 16px 28px;
  margin-bottom: 19px;
  border: 1px solid #dadada;
  border-radius: 50px;
  box-sizing: border-box;
}

.form-input:focus {
  outline: none;
  border-color: #71A7E2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form-input:hover {
  border-color: #71A7E2;
}

.form-input:active {
  border-color: #0E3B6C;
}

.form-select {
  width: 251px;
  height: 60px;
  padding: 16px 28px;
  border: 1px solid #dadada;
  border-radius: 50px;
  box-sizing: border-box;
}

.form-select:focus {
  outline: none;
  border-color: #71A7E2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form-select:hover {
  border-color: #71A7E2;
}

.form-select:active {
  border-color: #0E3B6C;
}

.form-textarea{
  width: 100%;
  height: 100%;
  padding: 16px 28px;
  resize: none;
  border: 1px solid #dadada;
  border-radius: 20px;
  box-sizing: border-box;
}

.form-textarea:focus {
  outline: none;
  border-color: #71A7E2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form-textarea:hover {
  border-color: #71A7E2;
}

.form-textarea:active {
  border-color: #0E3B6C;
}

.form-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}

.form-left {
  width: 49%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-right {
  width: 50%;
}

.form-btn {
  min-width: 230px;
  padding: 20px 0;
  margin-bottom: 9px;
  border-radius: 30px;
}

.form-check {
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.form-check input {
  margin-right: 8px;
}

.form-check a {
  color: #3172B9;
  border-bottom: 1px solid #3172B9 ;

}

.form-bottom {
  display: flex;
  justify-content: flex-end;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* footer */
.footer{
  padding: 42px 0;
}

.footer-copy {
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.footer-link {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #787878;
}

.footer-container {
  align-items: center;
  justify-content: space-between;
}

.footer-left,
.footer-right {
  align-items: center;
}

.footer-logo {
  margin-right: 25px;
}

.footer-nav {
  margin-right: 56px;
}

.footer-item:not(:last-child) {
  margin-right: 20px;
}

.social-item:not(:last-child) {
  margin-right: 32px;
}

.social-link {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
}

.social-link svg{
  fill: black;
}

.social-link-mail svg {
  fill: transparent;
  stroke: black;
}

.social-link:focus {
  outline-offset: 2px;
  outline: 1px solid #71A7E2;
}

.social-link:hover svg{
  fill: #71A7E2;
}

.social-link-mail:hover svg {
  fill: transparent;
  stroke: #71A7E2;
}

.social-link:active svg{
  fill: #3172B9;
  outline: none;
}

.social-link-mail:active svg {
  fill: transparent;
  stroke: #3172B9;
}


@media (max-width: 1024px) {
  .form-input,
  .form-select {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .header-nav {
    display: none;
  }

  .header-btn {
    margin-right: 7px;
    padding: 12px 35px;
  }

  .burger {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid currentColor;
    border-radius: 3px;
    color: #3172b9;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 20px;
    height: 2px;
    border-radius: inherit;
    background-color: currentColor;
    transform: translateX(-50%);
  }

  .burger__line:nth-child(1) {
    top: 13px;
  }

  .burger__line:nth-child(3) {
    bottom: 13px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .section-hero__content  {
    width: 75%;
  }

  .services-items {
    flex-wrap: wrap;
  }

  .services-item {
    margin-bottom: var(--gap);
    width: calc((100% - (var(--gap) * 1)) / 2);

  }

  .services-item:not(:nth-child(4n)) {
    margin-right: 0;
  }

  .services-item:not(:nth-child(2n)) {
    margin-right: var(--gap);
  }

  .blog-preview {
    height: 100%;
  }

  .blog-preview-link {
    height: 100%;
  }

  .form {
    padding: 0;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-left {
    margin-bottom: var(--gap);
  }

  .clients-item {
    padding: 20px;
  }
}

@media (max-width:768px) {
  .blog-preview-link {
    flex-direction: column;
  }

  .clients-list {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .clients-item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .clients-item {
    margin-bottom: var(--gap);
    width: calc((100% - (var(--gap))) / 2);
  }

.footer-link {
  font-size: 12px;
}
  .footer-item:not(:last-child) {
    margin-right: 18px;
  }

}

@media (max-width:576px) {
  :root {
    --gap: 15px;
  }

  .header {
    padding: 15px 0;
  }

  .header-logo {
    width: 80px;
  }

  .header-btn {
    padding: 12px 21px;
  }

  .section-hero {
    padding-top: 29px;
    padding-bottom: 0;
    background-image: none;
  }
  .section-hero__content {
    width: 100%;
  }

  .section-hero__title {
    margin-bottom: 15px;
  }

  .section-hero__wrapper {
    width: 100%;
  }

  .section-hero__btn {
    width: 100%;
  }

  .section-hero__descr {
    margin-bottom: 16px;
  }

  .section-offset {
    padding: 60px 0;
  }

  .services-title {
    margin-bottom: 16px;
    text-align: left;
  }

  .section-descr {
    margin-bottom: 37px;
    line-height: 22px;
  }

  .services-items {
    margin-bottom: -20px;
  }

  .services-item {
    margin-bottom: 20px;
    padding: 15px;
    min-height: 222px;
  }

  .services-item-icon {
    margin-bottom: 15px;
    width: 42px;
    height: 42px;
  }

  .services-item-title {
    margin-bottom: 3px;
    font-size: 16px;
    line-height: 130%;
  }

  .services-item-descr {
    font-size: 12px;
    line-height: 150%;
  }

  .articles-title {
    margin-bottom: 13px;
  }

  .articles-item:not(:nth-child(2n)) {
    margin-right: 0;
  }

  .articles-item {
    width: 100%;
  }

  .blog-preview-link {
    flex-direction: row;
    align-items: center;
  }

  .blog-preview-image {
    flex-shrink: 0;
    width: 86px;
    height: 100%;
  }

  .blog-preview {
    min-height: 191px;
  }

  .blog-preview-text {
    padding: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .blog-preview-time {
    margin-bottom: 5px;
  }

  .blog-preview-title {
    margin-bottom: 2px;
  }

  .articles-list {
    margin-bottom: calc(-1 * var(--gap));
  }

  .clients-item {
    width: 100%;
    margin-bottom: 13px;
  }

  .clients-list {
    margin-bottom: -13px;
  }

  .clients-title {
    margin-bottom: 15px;
  }

  .clients-post {
    display: inline-block;
    transform: translateY(-7px)
  }

  .contacts-title {
    margin-bottom: 12px;
  }

  .contacts-list {
    flex-wrap: wrap;
  }

  .contacts-item:not(:nth-child(3n)) {
    margin-right: 0;
}

.contacts-item {
  padding-top: 40px;
  margin-bottom: 30px;
  width: 100%;
}

.contacts-item-caption {
  margin-bottom: 9px;
}

.contacts-list {
  margin-bottom: -30px;
}

.join-us-title {
  margin-bottom: 15px;
  text-align: left;
}

.join-us-descr {
  text-align: left;
}

.form-top {
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.form-left {
  margin-bottom: 15px;
  width: 100%;
}

.form-right {
  width: 100%
}

.form-input {
  margin-bottom: 15px;
  padding-left: 19px;
}

.form-select {
  margin-bottom: 19px;
  padding-left: 19px;
}

.form-textarea {
  min-height: 240px;
  padding-left: 19px;
  padding-right: 19px;
}

.form-bottom {
  justify-content: center;
}

.form-wrapper {
  width: 100%;
}

.form-btn {
  margin-bottom: 14px;
  width: 100%;
}

.footer-container {
  flex-direction: column-reverse;
}

.footer {
  padding: 30px 0;
  padding-bottom: 0;
}

.footer-left {
  width: 100%;
  margin-bottom: 0;
  flex-wrap: wrap;
}

.footer-nav .footer-list{
  flex-wrap: wrap;
}

.footer-nav .footer-link{
  font-size: 15px;
  line-height: 20px;
}

.footer-nav {
  margin-right: 0;
  margin-bottom: 10px;
  width: 100%;
}
.footer-right {
  margin-bottom: 27px;
  flex-wrap: wrap;
}

.footer-logo {
  margin-left: 0;
  margin-bottom: 27px;
  width: 80px;
}

.footer-nav .footer-item:not(:last-child) {
  margin-right: 32px;
}

.footer-nav .footer-item {
  margin-bottom: 16px;
}

.social-item:not(:last-child) {
  margin-right: 25px;
}

.footer-copy {
  display: block;
  position: relative;
  width: 100%;
  padding: 17px 0;
  text-align: center;
}

.footer-copy::before {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  width: calc(100% + 30px);
  height: 1px;
  background-color: #c4c4c4;
}

}
