.section {
  padding-top: 80px;
  height: 100vh;
  background-image: url('https://images01.nicepage.com/c461c07a441a5d220e8feb1a/9472b9f7c1c25bb0bb717728/weeee-min.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  margin: 0 auto;
  padding:20px;
  max-width: 1200px;
}

h1 {
  text-align: center;
}

.notes-title {
  margin-bottom: 20px;
  margin-left: 5px;
}

.notes-block {
  justify-content: space-between;
}

.form-container {
  width: 28%;
}

.form-app {
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.label-input {
  margin-right: 10px;
}

.form-input {
  width: 251px;
  height: 60px;
  padding: 16px 18px;
  margin-bottom: 19px;
  border: 1px solid #dadada;
  border-radius: 20px;
  box-sizing: border-box;
}

.form-textarea {
  width: 320px;
  height: 200px;
  padding: 16px 18px;
  margin-bottom: 10px;
  resize: none;
  border: 1px solid #dadada;
  border-radius: 20px;
  box-sizing: border-box;
}

.data-list {
  width: 45%;
}

.notes-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  margin-bottom: 18px;
  padding: 15px;
  border-radius: 20px;
}

.notes-row-details {
  margin-right: 15px;
}

.list_datetime {
  margin-bottom: 10px;
}

.list-row__date {
 margin-right: 5px;
}

.list-row__title {
  margin-bottom: 5px;
}

.list-row__text {
  margin-bottom: 8px;
}

.notes-row-action {
  margin-left: auto;
}
