*{
    box-sizing: border-box;
}

.page-title {
    margin: 0;
    margin-bottom: 17px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    color: #787878;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 26px 45px;
    width: 600px;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.form__container {
    display: flex;
    margin: 0 auto;
    width: 400px;
    align-items: center;
    flex-direction: column;
}

.form__input_theme {
    outline: none;
    padding: 7px 15px;
    border: 2px solid #787878;
    border-radius: 10px;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    color: #787878;
}

.form__input_theme::placeholder {
    color: #ccc;
}

.form__input-email {
    margin-bottom: 13px;
}

.form__input-password {
    margin-bottom: 16px;
}

.from__checkbox-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    margin-bottom: 10px;
}

.form__checkbox {
    position: absolute;
    margin: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.form__checkbox-lable {
    margin-left: 5px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #787878;
}

.form__checkbox-mark {
    width: 24px;
    height: 24px;
    border: 2px solid #787878;
    border-radius: 6px;
}

.from__checkbox-wrapper > input:checked + .form__checkbox-mark::after {
    content: '✓';
    position: absolute;
    left: 6px;
    top: 0;
    font-weight: 700;
    color: #787878;
}

.register-link {
    color: #CC9933;
    text-decoration: underline;
}

/*@media screen and (max-width: 768px) and (min-width:320px){*/
/*    body {*/
/*        margin: 0;*/
/*        padding: 20px;*/
/*    }*/

/*    .container {*/
/*        width: 100%;*/
/*        height: 93vh;*/
/*    }*/

/*    .form__input_theme {*/
/*        font-size: 15px;*/
/*    }*/

/*    .form__input-lable {*/
/*        margin-bottom: 8px;*/
/*        font-size: 24px;*/
/*    }*/

/*    .form__checkbox-lable {*/
/*        font-size: 12px;*/
/*        width: fit-content;*/
/*    }*/

/*    .form__button {*/
/*        margin-top: 64px;*/
/*        padding: 32px 64px;*/
/*        width: 220px;*/
/*        font-weight: bold;*/
/*        font-size: 32px;*/
/*        line-height: 16px;*/

/*    }*/
/*}*/

/*@media screen and (max-width: 768px) and (min-width:396px){*/
/*    .from__checkbox-wrapper > input:checked + .form__checkbox-mark::after {*/
/*        left: 6px;*/
/*        top: 0;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 395px) and (min-width:320px){*/
/*    .from__checkbox-wrapper > input:checked + .form__checkbox-mark::after {*/
/*        left: 6Spx;*/
/*        top: 3px;*/
/*    }*/
/*}*/
