<section class="section">

<div class="container">
  <h2 class="notes-title">Заметки</h2>

  <div class="notes-block flex">
  <div class="form-container">

  <form class="form-app flex" #form="ngForm" (ngSubmit)="onSubmit()">
    <input class="form-input" type="text" name="noteTitle" placeholder="Введите заголовок" [(ngModel)]="note.title">
    <textarea class="form-textarea" type="text" name="noteText" placeholder="Введите описание" [(ngModel)]="note.text"></textarea>

    <button class="btn btn-resert">Сохранить</button>

  </form>
</div>


  <div class="data-list">

    <div class="notes-row" *ngFor="let note of notes">
      <div class="notes-row-details">
        <p class="list-row__title">{{note.title}}</p>
        <p class="list-row__text">{{note.text}}</p>
        <p class="list-row__date">Дата создания: {{note.dateCreated}}</p>
      </div>
      <div class="notes-row-action">
        <a (click)="deleteNote(note.id)" href="">
          <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.1411 0.356262H14.5161C13.7392 0.356262 13.1099 0.985559 13.1099 1.76251V3.16876H21.5474V1.76251C21.5474 0.985559 20.9174 0.356262 20.1411 0.356262Z" fill="#99A2B9"/>
            <path d="M21.5474 3.52032H13.1099C12.9158 3.52032 12.7583 3.36282 12.7583 3.16876V1.76251C12.7583 0.793606 13.5472 0.00469971 14.5161 0.00469971H20.1411C21.11 0.00469971 21.8989 0.793606 21.8989 1.76251V3.16876C21.8989 3.36282 21.7414 3.52032 21.5474 3.52032ZM13.4614 2.8172H21.1958V1.76251C21.1958 1.18103 20.7226 0.707825 20.1411 0.707825H14.5161C13.9346 0.707825 13.4614 1.18103 13.4614 1.76251V2.8172Z" fill="#212A41"/>
            <path d="M21.7407 36.9188H7.2908C5.81494 36.9188 4.5908 35.7783 4.48533 34.3067L2.56299 7.38751H26.4692L24.5462 34.3067C24.4414 35.7783 23.2166 36.9188 21.7407 36.9188Z" fill="#99A2B9"/>
            <path d="M21.7409 37.2703H7.29101C5.63867 37.2703 4.25281 35.9794 4.13539 34.332L2.21234 7.41283C2.20531 7.31509 2.23906 7.21947 2.30586 7.14845C2.37195 7.07673 2.46546 7.03595 2.5632 7.03595H26.4695C26.5672 7.03595 26.66 7.07673 26.7268 7.14775C26.7936 7.21947 26.8273 7.31509 26.8203 7.41212L24.898 34.3313C24.7798 35.9794 23.3933 37.2703 21.7409 37.2703ZM2.94078 7.73907L4.8364 34.282C4.92781 35.5638 6.0064 36.5672 7.29101 36.5672H21.7409C23.0262 36.5672 24.1041 35.5631 24.1955 34.282L26.0912 7.73907H2.94078Z" fill="#212A41"/>
            <path d="M25.7661 3.16876H3.26611C1.71291 3.16876 0.453613 4.42806 0.453613 5.98126V6.68439C0.453613 7.07251 0.768613 7.38751 1.15674 7.38751H27.8755C28.2636 7.38751 28.5786 7.07251 28.5786 6.68439V5.98126C28.5786 4.42806 27.3193 3.16876 25.7661 3.16876Z" fill="#99A2B9"/>
            <path d="M27.8755 7.73907H1.15674C0.575254 7.73907 0.102051 7.26587 0.102051 6.68439V5.98126C0.102051 4.23681 1.52166 2.8172 3.26611 2.8172H25.7661C27.5106 2.8172 28.9302 4.23681 28.9302 5.98126V6.68439C28.9302 7.26587 28.457 7.73907 27.8755 7.73907ZM3.26611 3.52032C1.90908 3.52032 0.805176 4.62423 0.805176 5.98126V6.68439C0.805176 6.87845 0.962676 7.03595 1.15674 7.03595H27.8755C28.0696 7.03595 28.2271 6.87845 28.2271 6.68439V5.98126C28.2271 4.62423 27.1231 3.52032 25.7661 3.52032H3.26611Z" fill="#212A41"/>
            <path d="M30.1782 36.9188H15.7283C14.2524 36.9188 13.0283 35.7783 12.9228 34.3067L11.0005 7.38751H34.9067L32.9837 34.3067C32.8789 35.7783 31.6541 36.9188 30.1782 36.9188Z" fill="#B7C0D7"/>
            <path d="M30.1784 37.2703H15.7285C14.0762 37.2703 12.6903 35.9794 12.5729 34.332L10.6498 7.41282C10.6428 7.31509 10.6766 7.21946 10.7434 7.14845C10.8095 7.07673 10.903 7.03665 11.0007 7.03665H34.907C35.0047 7.03665 35.0975 7.07743 35.1643 7.14845C35.2311 7.22017 35.2648 7.31579 35.2578 7.41282L33.3355 34.332C33.2173 35.9794 31.8308 37.2703 30.1784 37.2703ZM11.3783 7.73907L13.2739 34.282C13.3653 35.5638 14.4439 36.5672 15.7285 36.5672H30.1784C31.4637 36.5672 32.5416 35.5631 32.633 34.282L34.5287 7.73907H11.3783Z" fill="#212A41"/>
            <path d="M11.5195 34.7588C11.3367 34.7588 11.1827 34.6174 11.1693 34.4325L9.3398 8.81906C9.32574 8.6257 9.47199 8.45695 9.66535 8.44359C9.85871 8.4225 10.0275 8.57578 10.0408 8.76914L11.8703 34.3826C11.8844 34.5759 11.7382 34.7447 11.5448 34.758C11.5364 34.758 11.5279 34.7588 11.5195 34.7588Z" fill="#7B849B"/>
            <path d="M5.88824 34.5577C5.70543 34.5577 5.55144 34.4163 5.53808 34.2314L3.72261 8.81836C3.70855 8.625 3.8548 8.45625 4.04816 8.44289C4.24363 8.4218 4.40957 8.57508 4.42363 8.76844L6.2391 34.1815C6.25316 34.3748 6.10691 34.5436 5.91355 34.557C5.90511 34.5577 5.89668 34.5577 5.88824 34.5577Z" fill="#B7C0D7"/>
            <path d="M14.3257 34.5577C14.1429 34.5577 13.9889 34.4163 13.9756 34.2314L12.1601 8.81836C12.1461 8.625 12.2923 8.45625 12.4857 8.44289C12.6825 8.4218 12.8478 8.57508 12.8611 8.76844L14.6766 34.1815C14.6907 34.3748 14.5444 34.5436 14.3511 34.557C14.3426 34.5577 14.3342 34.5577 14.3257 34.5577Z" fill="#D5DEF5"/>
            <path d="M31.5808 34.5577C31.5724 34.5577 31.5639 34.5577 31.5555 34.557C31.3621 34.5429 31.2159 34.3748 31.2299 34.1815L33.0454 8.76844C33.0595 8.57508 33.2205 8.42391 33.4209 8.4429C33.6142 8.45696 33.7605 8.62501 33.7464 8.81836L31.931 34.2314C31.9183 34.4163 31.7636 34.5577 31.5808 34.5577Z" fill="#99A2B9"/>
            <path d="M34.2036 3.16876H11.7036C10.1504 3.16876 8.89111 4.42806 8.89111 5.98126V6.68439C8.89111 7.07251 9.20611 7.38751 9.59424 7.38751H36.313C36.7011 7.38751 37.0161 7.07251 37.0161 6.68439V5.98126C37.0161 4.42806 35.7568 3.16876 34.2036 3.16876Z" fill="#B7C0D7"/>
            <path d="M36.313 7.73907H9.59424C9.01275 7.73907 8.53955 7.26587 8.53955 6.68439V5.98126C8.53955 4.23681 9.95916 2.8172 11.7036 2.8172H34.2036C35.9481 2.8172 37.3677 4.23681 37.3677 5.98126V6.68439C37.3677 7.26587 36.8945 7.73907 36.313 7.73907ZM11.7036 3.52032C10.3466 3.52032 9.24268 4.62423 9.24268 5.98126V6.68439C9.24268 6.87845 9.40018 7.03595 9.59424 7.03595H36.313C36.5071 7.03595 36.6646 6.87845 36.6646 6.68439V5.98126C36.6646 4.62423 35.5606 3.52032 34.2036 3.52032H11.7036Z" fill="#212A41"/>
            <path d="M24.3599 0.356262H18.7349C17.9579 0.356262 17.3286 0.985559 17.3286 1.76251V3.16876H25.7661V1.76251C25.7661 0.985559 25.1361 0.356262 24.3599 0.356262Z" fill="#B7C0D7"/>
            <path d="M25.7661 3.52032H17.3286C17.1346 3.52032 16.9771 3.36282 16.9771 3.16876V1.76251C16.9771 0.793606 17.766 0.00469971 18.7349 0.00469971H24.3599C25.3288 0.00469971 26.1177 0.793606 26.1177 1.76251V3.16876C26.1177 3.36282 25.9602 3.52032 25.7661 3.52032ZM17.6802 2.8172H25.4146V1.76251C25.4146 1.18103 24.9413 0.707825 24.3599 0.707825H18.7349C18.1534 0.707825 17.6802 1.18103 17.6802 1.76251V2.8172Z" fill="#212A41"/>
            <path d="M22.9536 30.5906C22.1767 30.5906 21.5474 29.9613 21.5474 29.1844V15.1219C21.5474 14.3449 22.1767 13.7156 22.9536 13.7156C23.7306 13.7156 24.3599 14.3449 24.3599 15.1219V29.1844C24.3599 29.9613 23.7299 30.5906 22.9536 30.5906Z" fill="#99A2B9"/>
            <path d="M22.9536 30.9422C21.9847 30.9422 21.1958 30.1533 21.1958 29.1844V15.1219C21.1958 14.153 21.9847 13.3641 22.9536 13.3641C23.9225 13.3641 24.7114 14.153 24.7114 15.1219V29.1844C24.7114 30.1533 23.9225 30.9422 22.9536 30.9422ZM22.9536 14.0672C22.3721 14.0672 21.8989 14.5404 21.8989 15.1219V29.1844C21.8989 29.7659 22.3721 30.2391 22.9536 30.2391C23.5351 30.2391 24.0083 29.7659 24.0083 29.1844V15.1219C24.0083 14.5404 23.5351 14.0672 22.9536 14.0672Z" fill="#212A41"/>
            <path d="M28.5786 30.5906C27.8017 30.5906 27.1724 29.9613 27.1724 29.1844V15.1219C27.1724 14.3449 27.8017 13.7156 28.5786 13.7156C29.3556 13.7156 29.9849 14.3449 29.9849 15.1219V29.1844C29.9849 29.9613 29.3549 30.5906 28.5786 30.5906Z" fill="#99A2B9"/>
            <path d="M28.5786 30.9422C27.6097 30.9422 26.8208 30.1533 26.8208 29.1844V15.1219C26.8208 14.153 27.6097 13.3641 28.5786 13.3641C29.5475 13.3641 30.3364 14.153 30.3364 15.1219V29.1844C30.3364 30.1533 29.5475 30.9422 28.5786 30.9422ZM28.5786 14.0672C27.9971 14.0672 27.5239 14.5404 27.5239 15.1219V29.1844C27.5239 29.7659 27.9971 30.2391 28.5786 30.2391C29.1601 30.2391 29.6333 29.7659 29.6333 29.1844V15.1219C29.6333 14.5404 29.1601 14.0672 28.5786 14.0672Z" fill="#212A41"/>
            <path d="M17.3286 30.5906C16.5517 30.5906 15.9224 29.9613 15.9224 29.1844V15.1219C15.9224 14.3449 16.5517 13.7156 17.3286 13.7156C18.1056 13.7156 18.7349 14.3449 18.7349 15.1219V29.1844C18.7349 29.9613 18.1049 30.5906 17.3286 30.5906Z" fill="#99A2B9"/>
            <path d="M17.3286 30.9422C16.3597 30.9422 15.5708 30.1533 15.5708 29.1844V15.1219C15.5708 14.153 16.3597 13.3641 17.3286 13.3641C18.2975 13.3641 19.0864 14.153 19.0864 15.1219V29.1844C19.0864 30.1533 18.2975 30.9422 17.3286 30.9422ZM17.3286 14.0672C16.7471 14.0672 16.2739 14.5404 16.2739 15.1219V29.1844C16.2739 29.7659 16.7471 30.2391 17.3286 30.2391C17.9101 30.2391 18.3833 29.7659 18.3833 29.1844V15.1219C18.3833 14.5404 17.9101 14.0672 17.3286 14.0672Z" fill="#212A41"/>
            <path d="M34.7054 11.9578H2.76318C2.56912 11.9578 2.41162 11.8003 2.41162 11.6063C2.41162 11.4122 2.56912 11.2547 2.76318 11.2547H34.7054C34.8995 11.2547 35.057 11.4122 35.057 11.6063C35.057 11.8003 34.8995 11.9578 34.7054 11.9578Z" fill="#212A41"/>
            <path d="M32.9837 33.0516H4.48535C4.29129 33.0516 4.13379 32.8941 4.13379 32.7C4.13379 32.5059 4.29129 32.3484 4.48535 32.3484H32.9837C33.1778 32.3484 33.3353 32.5059 33.3353 32.7C33.3353 32.8941 33.1778 33.0516 32.9837 33.0516Z" fill="#212A41"/>
            </svg>
            </a>
      </div>
    </div>
  </div>

</div>

</div>
</section>
