a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.list-resert {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-resert {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.flex {
    display: flex;
}

.container {
    box-sizing: border-box;
    width: 1200px;
    padding: 70px 15px 0 15px;
    margin: 0 auto;
}

.section-title {
    margin: 0;
    margin-left: 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
}

.btn {
    padding: 13px 20px;
    font-weight: 400;
    font-size: 16px;
    color: #CC9933;
    border: 1px solid #CC9933;
    border-radius: 10px;
    transition-property: background-color, color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.btn:hover {
    background-color: #CC9933;
    color: white;
}

.link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #CC9933;
}

.link:hover {
    text-decoration: underline;
}