.btn-resert {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.button {
    padding: 8px 20px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 20px;
    background-color: white;
}

.button_blue {
    border: 2px solid #4cb6db;
    color:#4cb6db;
}

.button_blue:hover {
    background-color: #4cb6db;
    border: 2px solid white;
    color: white;
}

.button_orange {
    margin-right: 5px;
    border: 2px solid #ea9f3a;
    color:#ea9f3a;
}

.button_orange:hover {
    background-color: #ea9f3a;
    border: 2px solid white;
    color: white;
}

.button_red {
    border: 2px solid #d53f3f;
    color: #d53f3f;
}

.button_red:hover {
    background-color: #d53f3f;
    border: 2px solid white;
    color: white;
}